@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&family=Sora:wght@100..800&display=swap');

* {
    box-sizing: border-box;
}

h1, a, p, h2 {
    font-family: "Sora", sans-serif;
}

body {
    background-color: #E5EAF0;
    padding: 164px;
}

main {
    max-width: 368px;
    margin: 0 auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #FAFAF9;
    padding: 16px;
}

main img {
    height: 152px;
    width: 100%;  
    border-radius: 20px;
}

main #design {
    margin: 22px 0;

}

main #design a {
    font-size: 10px;
    text-decoration: none;
    color: #883AE1;
    background-color: #E6D6FC;
    border-radius: 10px;
    padding: 6px 16px;
}

main h1{
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 6px;
}

main p {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 4px;
    color: #6C727F;
}

footer {
    max-width: 368px;
    margin: 1px auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #FAFAF9;
    padding: 20px 16px;
}

footer h2 {
    color: #6C727F;
    font-size: 12px;
    margin: 0;
}